<section class="locales">
    <div class="locales__wave"style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 511.57,67.61 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #ffafbd;"></path></svg></div>
    <div class="locales__container">
        <h1 class="locales__title">{{'Encontranos en ...'}}</h1>
        <div class="locales__cards">
            <div class="locales__card card_1">
                <img src="../../../assets/images/h1.jpg" alt="" class="locales__card_img">
                <h4 class="locales__card_title">{{'jujuy  2213' | titlecase}}</h4>
                <p class="locales__card_description">Entre Av.Colon y Almte.Brown</p>
            </div>
            <div class="locales__card card_2">
                <img src="../../../assets/images/h7.jpg" alt="" class="locales__card_img">
                <h4 class="locales__card_title">{{'san juan 966' | titlecase}}</h4>
                <p class="locales__card_description">Entre Av. Libertad y Maipú</p>
            </div>
        </div>
    </div>
</section>
 