<section class="grid">
    <div class="galeria">
        <div class="slider" id="slider">
            <img src="../../../assets/images/h9.jpg" alt="" class="slider_img">
            <img src="../../../assets/images/bombones.png" alt="" class="slider_img">
            <img src="../../../assets/images/h5.jpg" alt="" class="slider_img">
            <img src="../../../assets/images/h6.jpg" alt="" class="slider_img">
            <img src="../../../assets/images/h7.jpg" alt="" class="slider_img">
            <img src="../../../assets/images/h1.jpg" alt="" class="slider_img">
            <img src="../../../assets/images/mix.png" alt="" class="slider_img">
            <img src="../../../assets/images/naranja.png" alt="" class="slider_img">
            <img src="../../../assets/images/oreo.png" alt="" class="slider_img">
            <img src="../../../assets/images/p2.png" alt="" class="slider_img">
            <img src="../../../assets/images/rocher.png" alt="" class="slider_img">
            <img src="../../../assets/images/tira.png" alt="" class="slider_img">
        </div>
        <div class=" slider_btn slider_btn_left" (click)="back()">&#60;</div>
        <div class="slider_btn slider_btn_right" (click)="next()">&#62;</div>
    </div>
    <div class="texts">
        <h2 class="text_title">'Nada que un helado no pueda arreglar'</h2>
    </div>
</section>
